<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs0tzlhY_jVL3Lzpjw7HP0e12pwmjFJwY</string>
	<key>GCM_SENDER_ID</key>
	<string>197190218958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mhfatha</string>
	<key>PROJECT_ID</key>
	<string>mhfaata</string>
	<key>STORAGE_BUCKET</key>
	<string>mhfaata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197190218958:ios:05a2688b121a722b988c9f</string>
</dict>
</plist>