name: Appstore Deployment
on: workflow_dispatch
  # push:
  #   branches:
  #     - master

    
jobs:

  lint-and-test:
    name: Static code analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
      - run: flutter pub get
      - name: Lint analysis
        run: flutter analyze
      - name: Run tests
        run: flutter test

  parse-tag:
    needs: lint-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: step1
        name: Get BUILD_NAME BUILD_NUMBER and DEVICE
        run: |
          source .github/scripts/parse-tag.sh
          echo "::set-output name=BUILD_NAME::$BUILD_NAME"
          echo "::set-output name=BUILD_NUMBER::$BUILD_NUMBER"
          echo "::set-output name=DEVICE::$DEVICE"
    outputs:
      BUILD_NAME: ${{ steps.step1.outputs.BUILD_NAME }}
      BUILD_NUMBER: ${{ steps.step1.outputs.BUILD_NUMBER }}
      DEVICE: ${{ steps.step1.outputs.DEVICE }}

    
  deploy_ios:
    needs: parse-tag
    if: contains(needs.parse-tag.outputs.DEVICE, 'ios')
    name: Deploy build to TestFlight
    runs-on: macOS-latest
    
    steps:
      - name: Update Xcode to latest stable version
        uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: latest-stable

      - name: Checkout code from ref
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7"
          

      - name: Run Flutter tasks
        uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.16.6'
          channel: "stable"

      - run: flutter clean
      - run: flutter pub get
        
      - run:  flutter build ios --release --no-codesign
      

      - name: Deploy iOS Beta to TestFlight via Fastlane
        uses: maierj/fastlane-action@v1.4.0
        with:
          lane: closed_beta
          subdirectory: ios
        env:
          ITC_TEAM_ID: '${{ secrets.ITC_TEAM_ID }}'
          APPLICATON_ID: '${{ secrets.APPLICATON_ID }}'
          BUNDLE_IDENTIFIER: '${{ secrets.BUNDLE_IDENTIFIER }}'
          DEVELOPER_PORTAL_TEAM_ID: '${{ secrets.DEVELOPER_PORTAL_TEAM_ID }}'
          FASTLANE_APPLE_ID: '${{ secrets.FASTLANE_APPLE_EMAIL_ID }}'
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: '${{ secrets.APP_SPECIFIC_PASSWORD }}'
          MATCH_PASSWORD: '${{ secrets.MATCH_PASSWORD }}'
          GIT_AUTHORIZATION: '${{ secrets.GIT_AUTHORIZATION }}'
          PROVISIONING_PROFILE_SPECIFIER: '${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}'
          TEMP_KEYCHAIN_PASSWORD: '${{ secrets.TEMP_KEYCHAIN_PASSWORD }}'
          TEMP_KEYCHAIN_USER: '${{ secrets.TEMP_KEYCHAIN_USER }}'
